body{
  font-family: 'Asul', cursive;
  color:black;
  box-sizing: border-box;
}

/***** Header (menu) *****/

#mainNav{
  background-color:lightgray;
  border-radius:0;
}

#mainNav .navbar-brand{
  color:black;
}*/

.headings, .navbar-brand{
  font-family:'Concert One', sans-serif;
}

#mobileMenu{
  text-align:center;
}

#mobileMenu a{
  color:black;
}

#mobileMenu a:hover{
  background-color:#EEEEEE;
}

/***** Main content *****/

#mainContent{
  margin:0px 20px 0px 20px;
}

#mainContent.container-fluid{
  padding-left:0px;
  padding-right:0px;
  margin-bottom:20px;
}

.sectionContent{
  margin-top:20px;
  background-color:lightgray;
  padding:20px;
  text-align:justify;
}

/***** Media Queries *****/

@media (min-width:992px){
  .sectionContent{
    min-height:1200px;
  }
}

@media (min-width:768px) and (max-width:991px){
  #section1 .sectionContent, #section2 .sectionContent{
    min-height:1000px;
  }
}

@media (max-width:767px){
  #mobileMenu{
    background-color:#949494;
  }

  #mobileMenuButton{
    background-color:#949494;
  }

  #mobileMenuButton .icon-bar{
    background-color:#EEEEEE;
  }

  #mobileMenuButton:hover{
    background-color:#EEEEEE;
  }

  #mobileMenuButton:hover span{
    background-color:#949494;
  }
}
